---
openapi: "3.0.1"
info:
  title: 💱 Free and Open Source Cuban Exchange Rate API
  description: |-
    💱 Free and Open Source Cuban Exchange Rate API
    This API just facilitates the consumption of exchange rate information, the values shown here come from third-party sources. Data is updated every 12 hours. We are not responsible for the stability of this API, please use it for your project at your own risk or host your own instance.

    📊 Data Sources
    https://www.directoriocubano.info/cadeca/ (Same as https://www.cadeca.cu)
    https://divisascu.app/
  version: "v3"
  license:
    name: MIT
servers:
  - url: "https://exchange-rate.decubba.com"
tags:
  - name: v2
    description: Exchange Rate API v2
  - name: v1
    description: Exchange Rate API v1 (Deprecated)
paths:
  /api/formal/cup:
    get:
      tags:
        - v1
      parameters: []
      responses:
        "200":
          description: "Returns exchange Rate"
  /api/informal/cup:
    get:
      tags:
        - v1
      parameters: []
      responses:
        "200":
          description: "Returns exchange Rate"
  /api/v2/formal/source/{symbol}.json:
    get:
      tags:
        - v2
      summary: Returns the daily exchange rate for the selected currency
      description: |
        Returns the daily exchange rate for the selected currency. 
        [Symbol] = cad | chf | cup | eur | gbp | jpy | mxn | usd
      parameters:
        - name: "symbol"
          in: "path"
          required: true
          style: "simple"
          explode: false
          schema:
            type: "string"
          examples:
            usd:
              value: "usd"
      responses:
        "200":
          description: "Returns exchange Rate"
  /api/v2/formal/target/{symbol}.json:
    get:
      summary: Returns the daily exchange rate for the selected currency
      description: |
        Returns the daily exchange rate for the selected currency in the opposite direction (Good to use when the value of the origin is a fraction of the others currencies)
        [Symbol] = cad | chf | cup | eur | gbp | jpy | mxn | usd
      tags:
        - v2
      parameters:
        - name: "symbol"
          in: "path"
          required: true
          style: "simple"
          explode: false
          schema:
            type: "string"
          examples:
            cup:
              value: "cup"
      responses:
        "200":
          description: "Returns exchange Rate"
  /api/v2/informal/source/{symbol}.json:
    get:
      tags:
        - v2
      summary: Returns the daily exchange rate for the selected currency
      description: |
        Returns the daily exchange rate for the selected currency
        [Symbol] = usd | mlc | eur | cup
      parameters:
        - name: "symbol"
          in: "path"
          required: true
          style: "simple"
          explode: false
          schema:
            type: "string"
          examples:
            usd:
              value: "usd"
      responses:
        "200":
          description: "Returns exchange Rate"
  /api/v2/informal/target/{symbol}.json:
    get:
      summary: Returns the daily exchange rate for the selected currency
      description: |
        Returns the daily exchange rate for the selected currency in the opposite direction (Good to use when the value of the origin is a fraction of the others currencies)
        [Symbol] = usd | mlc | eur | cup
      tags:
        - v2
      parameters:
        - name: "symbol"
          in: "path"
          required: true
          style: "simple"
          explode: false
          schema:
            type: "string"
          examples:
            cup:
              value: "cup"
      responses:
        "200":
          description: "Returns exchange Rate"
components:
  securitySchemes: {}
